{% extends "base.html" %} {% block content %}
<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-3xl font-bold mb-6">Learn DairyMitr</h1>
  <div class="grid md:grid-cols-2 gap-6">
    <iframe
      class="w-full h-64 rounded"
      src="https://www.youtube.com/embed/RW3khVd6ooU"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <iframe
      class="w-full h-64 rounded"
      src="https://www.youtube.com/embed/1_e8b2rw_Pr"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <iframe
      class="w-full h-64 rounded"
      src="https://www.youtube.com/embed/TQKELOE9eY4"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>
{% endblock %}
