<aside id="sidebar">
  <nav>
    
    <a href="{{ url_for('dashboard') }}" class="sidebar-link">
      <i data-lucide="home"></i>
      <b>HOME</b>
    </a>
    <small>OPERATIONS</small>

    <a href="{{ url_for('milk_collection') }}" class="sidebar-link">
      <i data-lucide="milk"></i>
      दूध जमा
    </a>

    <a href="{{ url_for('advance') }}" class="sidebar-link">
      <i data-lucide="hand-coins"></i>
      ॲडव्हान्स
    </a>

    <a href="{{ url_for('food_sack') }}" class="sidebar-link">
      <i data-lucide="wheat"></i>
      पेंड
    </a>

    <small>CUSTOMERS</small>

    <a href="{{ url_for('add_vendor') }}" class="sidebar-link">
      <i data-lucide="user-plus"></i>
      नवीन ग्राहक
    </a>

    <a href="{{ url_for('vendor_list') }}" class="sidebar-link">
      <i data-lucide="users"></i>
      ग्राहक यादी
    </a>

    <a href="{{ url_for('edit_entry') }}" class="sidebar-link">
      <i data-lucide="file-pen-line"></i>
      नोंदी बदला
    </a>

    <small>FINANCE</small>

    <a href="{{ url_for('calculation') }}" class="sidebar-link">
      <i data-lucide="calculator"></i>
      हिशोब
    </a>

    <a href="{{ url_for('payment') }}" class="sidebar-link">
      <i data-lucide="credit-card"></i>
      पेमेंट
    </a>

    <a href="{{ url_for('receipt_all_vendors') }}" class="sidebar-link">
      <i data-lucide="receipt"></i>
      पावती
    </a>

    <small>SYSTEM</small>

    <a href="{{ url_for('milk_rate') }}" class="sidebar-link">
      <i data-lucide="tag"></i>
      दूध दर
    </a>

    <a href="{{ url_for('food_sack_rate') }}" class="sidebar-link">
      <i data-lucide="leaf"></i>
      खाद्य दर
    </a>

    <a href="{{ url_for('account') }}" class="sidebar-link">
      <i data-lucide="settings"></i>
      Account
    </a>

    <a href="{{ url_for('about') }}" class="sidebar-link">
      <i data-lucide="info"></i>
      About
    </a>
  </nav>
</aside>
